# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
.venv/
*.sqlite3

# Django
db.sqlite3
/staticfiles/
media/

# Node
node_modules/
npm-debug.log
yarn-error.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment Variables
.env

# Build
dist/
build/
